In [1]:
import pandas as pd
import os
import sqlalchemy as sal
import requests

# Data Sourcing
Data was acquired from the California Department of Education via their [Research Files](https://caaspp-elpac.cde.ca.gov/caaspp/ResearchFileList?ps=true&lstTestYear=2019&lstTestType=B&lstCounty=00&lstDistrict=00000&lstSchool=0000000)

Using SQL-Alchemy + PANDAS it was inserted into a Postgres DB.

In [2]:
host = "localhost"
dbname = "who_serving_who"
user = "justinaugust"
port =  5432

engine = sal.create_engine(f'postgresql://{user}@{host}:{port}/{dbname}')

In [9]:
def csv_to_sql(file):

    host = "localhost"
    dbname = "who_serving_who"
    user = "justinaugust"
    port =  5432
    table_name = file.strip('.txt')

    engine = sal.create_engine(f'postgresql://{user}@{host}:{port}/{dbname}')

    print(f'importing {file}')
    with engine.connect() as conn, conn.begin():
        
        try:
            df = pd.read_csv(f'data/{file}')
            df.drop(columns='Filler', inplace=True)
            df.replace('*',0, inplace=True)
            df.to_sql(table_name,
                 con = conn,
                 if_exists = 'replace',
                 index = False)
            print(f'Imported {file}')
        except:
            print(f'FAILED to Import {file}')

In [10]:
# [csv_to_sql(file) for file in os.listdir("data/") if file.endswith('.txt')]
print("done!")

importing sb_ca2019_all_csv_v2.txt
Imported sb_ca2019_all_csv_v2.txt
done!

## Notes
The `entities` files needed to be opened, copied and repasted in order to fix some encoding issues. The `utf-8` encoding was broken.

## School Metadata
### School metadata was acquired using the [Search Tool at the NCES](https://nces.ed.gov/ccd/schoolsearch/school_list.asp?Search=1&InstName=&SchoolID=&Address=&City=&State=06&Zip=&Miles=&County=Alameda&PhoneAreaCode=&Phone=&DistrictName=&DistrictID=&SchoolType=1&SchoolType=2&SchoolType=3&SchoolType=4&SpecificSchlTypes=all&IncGrade=-1&LoGrade=-1&HiGrade=-1).

In [30]:
schools_metadata = pd.read_csv('data/schools_metadata.csv')
schools_metadata['School ID'] =[state_id.split('-')[2] for state_id in schools_metadata['State School ID']]
schools_metadata = schools_metadata[['School ID', 'School Name' , 'Street Address', 'City', 'State', 'ZIP',
                  'Low Grade*', 'High Grade*', 'Charter', 'Magnet*',
                  'Title I School*', 'Title 1 School Wide*',
                  'Students*', 'Teachers*', 'Student Teacher Ratio*',
                  'Free Lunch*', 'Reduced Lunch*', ]]
schools_metadata.head()

,School ID,School Name,Street Address,City,State,ZIP,Low Grade*,High Grade*,Charter,Magnet*,Title I School*,Title 1 School Wide*,Students*,Teachers*,Student Teacher Ratio*,Free Lunch*,Reduced Lunch*
0,6002273,ACORN Woodland Elementary,1025 81st Ave.,Oakland,CA,94621,KG,05,No,No,Yes,Yes,300.00000,13.00000,23.1000000,256.00000,20.00000
1,0130419,Alameda County Community,313 W. Winton Ave.,Hayward,CA,94544,KG,12,No,No,Yes,Yes,174.00000,13.00000,13.4000000,138.00000,11.00000
2,0130401,Alameda County Juvenile Hall/Court,2500 Fairmont Ave.,San Leandro,CA,94578,KG,12,No,No,Yes,Yes,73.00000,10.00000,7.3000000,70.00000,0.00000
3,6106751,Alameda County Special Education,313 W. Winton Ave.,Hayward,CA,94544,–,–,No,No,†,†,†,–,†,†,†
4,0130229,Alameda High,2201 Encinal Ave.,Alameda,CA,94501,09,12,No,No,No,†,1776.00000,76.19000,23.3000000,371.00000,39.00000

In [49]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
google_api_key = 'AIzaSyCVj9bgKSZA8H-CkC_-OjbkJFvQrJM-6gY'
for row, [idx, street, city, state, zipcode] in schools_metadata[['School ID','Street Address','City','State','ZIP']].iterrows():
    params = {
        'key' : google_api_key,
        'address' : f'{street} {city}, {state}, {zipcode}'
    }

    res = requests.get(base_url, params)
    schools_metadata.loc[schools_metadata['School ID'] == idx,'lat'] = res.json()['results'][0]['geometry']['location']['lat']
    schools_metadata.loc[schools_metadata['School ID'] == idx,'lng'] = res.json()['results'][0]['geometry']['location']['lng']

In [50]:
schools_metadata.head()

,School ID,School Name,Street Address,City,State,ZIP,Low Grade*,High Grade*,Charter,Magnet*,Title I School*,Title 1 School Wide*,Students*,Teachers*,Student Teacher Ratio*,Free Lunch*,Reduced Lunch*,lat,lng
0,6002273,ACORN Woodland Elementary,1025 81st Ave.,Oakland,CA,94621,KG,05,No,No,Yes,Yes,300.00000,13.00000,23.1000000,256.00000,20.00000,37.752905,-122.186445
1,0130419,Alameda County Community,313 W. Winton Ave.,Hayward,CA,94544,KG,12,No,No,Yes,Yes,174.00000,13.00000,13.4000000,138.00000,11.00000,37.658510,-122.098346
2,0130401,Alameda County Juvenile Hall/Court,2500 Fairmont Ave.,San Leandro,CA,94578,KG,12,No,No,Yes,Yes,73.00000,10.00000,7.3000000,70.00000,0.00000,37.716042,-122.118359
3,6106751,Alameda County Special Education,313 W. Winton Ave.,Hayward,CA,94544,–,–,No,No,†,†,†,–,†,†,†,37.658510,-122.098346
4,0130229,Alameda High,2201 Encinal Ave.,Alameda,CA,94501,09,12,No,No,No,†,1776.00000,76.19000,23.3000000,371.00000,39.00000,37.764210,-122.247043

In [55]:
schools_metadata.to_csv('data/schools_metadata_updated.csv', index=False)

In [56]:
csv_to_sql('schools_metadata_updated.csv')

importing schools_metadata_updated.csv
Imported schools_metadata_updated.csv