In [52]:
import pandas as pd
import sqlalchemy as sal

In [53]:
host = "localhost"
dbname = "who_serving_who"
user = "justinaugust"
port =  5432

engine = sal.create_engine(f'postgresql://{user}@{host}:{port}/{dbname}')

In [54]:
##get subgroups for referencing later
with engine.connect() as conn, conn.begin():
    command = sal.sql.text("""
    SELECT *
    FROM caaspp_subgroups
    """)
    subgroups = pd.read_sql(command, con=conn)
    conn.execute("commit")
subgroups.head()

,Demographic ID,Demographic ID Num,Demographic Name,Student Group
0,1,1,All Students,All Students
1,3,3,Male,Gender
2,4,4,Female,Gender
3,6,6,Fluent English proficient and English only,English-Language Fluency
4,7,7,Initial fluent English proficient (IFEP),English-Language Fluency

In [55]:
##get subgroups for referencing later
with engine.connect() as conn, conn.begin():
    command = sal.sql.text("""
    SELECT *
    FROM caaspp_tests
    """)
    tests = pd.read_sql(command, con=conn)
    conn.execute("commit")
tests.head()

   Test ID  Test ID Num                             Test Name
0        1            1   SB - English Language Arts/Literacy
1        2            2                      SB - Mathematics
2        3            3  CAA - English Language Arts/Literacy
3        4            4                     CAA - Mathematics
4       17           17        CAST - California Science Test

In [ ]:
##get subgroups for referencing later
with engine.connect() as conn, conn.begin():
    command = sal.sql.text("""
    SELECT e2019."School Name",
    sg2019."Demographic Name",
    sg2019."Student Group",
    t2019."Test Name",
    r2019."Percentage Standard Exceeded",
    r2019."Percentage Standard Met",
    r2019."Percentage Standard Met and Above",
    r2019."Percentage Standard Nearly Met",
    r2019."Percentage Standard Not Met"
    FROM caaspp_2019 r2019
    INNER JOIN caaspp_2019_entities e2019 ON r2019."School Code" = e2019."School Code"
    INNER JOIN caaspp_subgroups sg2019 ON r2019."Subgroup ID" = sg2019."Demographic ID Num"
    INNER JOIN caaspp_tests t2019 ON r2019."Test Id" = t2019."Test ID Num"
    ;
    """)
    y2019 = pd.read_sql(command, con=conn)
    conn.execute("commit")
y2019.head()